/* ----- COLORS ----- */
/* ----- MEDIA QUERIES ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

html {
  padding: env(safe-area-inset-top); }

body {
  background-color: #F5E8B7;
  padding-top: 65px;
  width: 100%;
  overflow-x: hidden; }

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid #000000;
  background-color: #F5E8B7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10; }
  .topbar a.logo {
    display: block;
    width: 136px; }
    .topbar a.logo img {
      width: 100%; }
  .topbar .user {
    display: flex;
    align-items: center;
    justify-content: center; }
    .topbar .user a {
      display: block;
      height: 30px;
      margin-left: 13px; }
      .topbar .user a img {
        height: 30px; }

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  background-color: #000000; }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav ul a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
      color: #F5E8B7;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1em;
      text-decoration: none;
      position: relative;
      z-index: 1; }
      header nav ul a:focus, header nav ul a:visited {
        text-decoration: none;
        color: #F5E8B7; }
      header nav ul a::before {
        content: '';
        display: block;
        width: 67px;
        height: 61px;
        background-color: #F5E8B7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 5px;
        opacity: 0; }
      header nav ul a.active {
        color: #000000; }
        header nav ul a.active::before {
          opacity: 1; }
        header nav ul a.active img {
          filter: brightness(0%); }
      header nav ul a img {
        height: 25px;
        margin-bottom: 10px; }
      header nav ul a.share-subject {
        width: 70px;
        height: 70px;
        justify-content: center;
        background-color: #9ADAF5;
        border-radius: 10px;
        position: relative;
        top: -15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: 300;
        color: #000000;
        letter-spacing: initial; }
        header nav ul a.share-subject img {
          height: 35px; }

/*# sourceMappingURL=general.css.map */
