/* ----- COLORS ----- */
/* ----- MEDIA QUERIES ----- */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

html {
  padding: env(safe-area-inset-top); }

body {
  background-color: #F5E8B7;
  padding-top: 65px;
  width: 100%;
  overflow-x: hidden; }

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid #000000;
  background-color: #F5E8B7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10; }
  .topbar a.logo {
    display: block;
    width: 136px; }
    .topbar a.logo img {
      width: 100%; }
  .topbar .user {
    display: flex;
    align-items: center;
    justify-content: center; }
    .topbar .user a {
      display: block;
      height: 30px;
      margin-left: 13px; }
      .topbar .user a img {
        height: 30px; }

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  background-color: #000000; }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav ul a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
      color: #F5E8B7;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1em;
      text-decoration: none;
      position: relative;
      z-index: 1; }
      header nav ul a:focus, header nav ul a:visited {
        text-decoration: none;
        color: #F5E8B7; }
      header nav ul a::before {
        content: '';
        display: block;
        width: 67px;
        height: 61px;
        background-color: #F5E8B7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 5px;
        opacity: 0; }
      header nav ul a.active {
        color: #000000; }
        header nav ul a.active::before {
          opacity: 1; }
        header nav ul a.active img {
          filter: brightness(0%); }
      header nav ul a img {
        height: 25px;
        margin-bottom: 10px; }
      header nav ul a.share-subject {
        width: 70px;
        height: 70px;
        justify-content: center;
        background-color: #9ADAF5;
        border-radius: 10px;
        position: relative;
        top: -15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: 300;
        color: #000000;
        letter-spacing: initial; }
        header nav ul a.share-subject img {
          height: 35px; }

/* ----- FONTS ----- */
/* ----- COLORS ----- */
/* ----- MEDIA QUERIES ----- */
main {
  width: 100%;
  height: 100vh;
  background-color: #F5E8B7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
  text-align: center; }
  main .introduction h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    font-weight: 700; }
  main .introduction p {
    margin: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4; }
  main form {
    margin-top: 50px; }
    main form label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 16px;
      margin: 0 0 15px;
      display: block; }
    main form input {
      display: block;
      line-height: 50px;
      width: 100%;
      max-width: 220px;
      background-color: #FFFFFF;
      border: none;
      border-radius: 100px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin: 0 auto; }
      main form input::placeholder {
        color: #CCCCCC; }
      main form input:focus {
        outline: none;
        text-decoration: none; }
    main form a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      display: inline-block;
      margin: 10px auto;
      text-decoration: underline;
      color: #000; }
    main form .separator {
      font-family: 'Josefin Slab', serif;
      font-size: 24px;
      font-weight: 700;
      margin: 20px 0;
      text-transform: uppercase; }
    main form .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      border: none;
      border-radius: 100px;
      width: 100%;
      max-width: 220px;
      margin: 20px auto;
      background-color: #000;
      color: #F5E8B7;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none; }
      main form .button:focus {
        outline: none;
        text-decoration: none; }
      main form .button img {
        display: inline-block;
        width: 34px;
        margin-right: 11px; }

/*# sourceMappingURL=welcome.css.map */
