@import 'general.scss';
@import 'fonts.scss';
@import 'variables.scss';

body{
    background-color: $color-yellow;
main {
    width: 100%;
    margin-bottom: 10vh;
    padding: 0 15px;
    text-align: center;
    .introduction{
        h1{
            font-family: 'Josefin Slab', serif;
            font-size: 30px;
            font-weight: 700;
        }
        p{
            margin: 20px 0 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
        }
    }

    .wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 276px;
        margin: 25px auto 50px;
        .item{
            width: 123px;
            height: 123px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
                position: relative;
                z-index: 1;
                &:before{
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-in-out;
                    border-radius: 15px;
                z-index: -1;
                }
            &.active{
                &:before{
                    width: 100%;
                    height: 100%;
                    border: 2px solid $color-black;
                }
                
            }
            &:nth-of-type(2n){
                margin-left: 30px;
            }
            img{
                width: 60px;
                height: auto;
                display: block;
                margin: 0 auto;
            }
            p{
                font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 13px 0 0 0;
            }
        }
    }
        
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            border: none;
            border-radius: 100px;
            width: 100%;
            max-width: 170px;
            margin: 20px auto;
            background-color: #000;
            color: $color-yellow;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            letter-spacing: 0.2em;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            &:focus{
                outline: none;
                text-decoration: none;
            }
    }
    .link{
        margin: 0 auto 0;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            padding: 5px;
            border-bottom: 1px solid #000;
            text-decoration: none;
            &:focus, &:visited{
                outline: none;
                text-decoration: none;
                color: #000;
            }
    }
}
}